.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Content {
  background-color: rgb(238, 242, 244);
  padding: 20px;
  width: 400px;
  height: 100vh;
}


